* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(51, 51, 51);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  position: relative;
}

.search-container .input {
  /* class .input, která je v class .search-container */
  background-color: #fff;
  border: 0;
  font-size: 20px;
  padding: 15px;
  width: 50px;
  height: 50px;

  transition: width 0.3s linear;
}

.search-icon {
  width: 40px;
}

.btn {
  border: 0;
  cursor: pointer;
  font-size: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;


  /* Transition dávám do této části, jinak není smooth tam i zpět */
  transition: transform 0.3s linear; 
} 

.btn:focus,
.input:focus {
  outline: none; 
}

.search-container.active .input {
  width: 300px;
}

.search-container.active .btn {
  transform: translateX(290px);
}


